<p>
Количество инвайтов не ограничено, но приглашенный вами пользователь будет
связан с вами в <a href="/u">дереве пользователей</a>, и если он вызовет проблемы, то
на вас, возможно, ляжет часть ответственности за его действия. Пожалуйста, приглашайте
пользователей благоразумно.
</p>

<%= form_tag "/invitations", :method => :post do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= hidden_field_tag :return_home, 1 %>
  <% end %>

  <div class="boxline">
    <%= label_tag :email, "E-mail:", :class => "required" %>
    <%= text_field_tag :email, "", :size => 30, :autocomplete => "off" %>
  </div>

  <div class="boxline">
    <%= label_tag :memo, "Сообщение:", :class => "required" %>
    <%= text_field_tag :memo, "", :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= submit_tag "Отправить инвайт" %>
  </div>
<% end %>

