<div class="box wide">
  <div class="legend right">
    <a href="/u/<%= @user.username %>">Публичный профиль</a>
  </div>
  <div class="legend">
    Настройки
  </div>

  <%= form_for @edit_user, :url => settings_url, :method => :post do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, "Имя:", :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt>[A-Za-z0-9][A-Za-z0-9_-]*</tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :password, "Новый пароль:", :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, "Подтвердить пароль:",
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, "E-mail:", :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        Аватар берется из <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a> User Key:"),
        :class => "required" %>
      <%= f.text_field :pushover_user_key, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_device, "Pushover Device:",
        :class => "required" %>
      <%= f.text_field :pushover_device, :placeholder => "не обязательно",
        :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :about, "О себе:", :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          Можно использовать Markdown
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <div class="legend">
      Ответ на мой комментарий
    </div>

    <div class="boxline">
      <%= f.label :email_replies, "Получать e-mail:", :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, "Получать Pushover:",
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        Необходимо ввести User Key выше
      </span>
    </div>

    <br>

    <div class="legend">
      Упоминание меня в комментарии
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, "Получать e-mail:", :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, "Получать Pushover:",
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        Необходимо ввести User Key выше
      </span>
    </div>

    <br>

    <div class="legend">
      Личные сообщения
    </div>

    <div class="boxline">
      <%= f.label :email_messages, "Получать e-mail:", :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, "Получать Pushover:",
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        Необходимо ввести User Key выше
      </span>
    </div>

    <br>

    <%= f.submit "Сохранить все настройки" %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
   Выслать инвайт
  </div>

  <%= render :partial => "users/invitationform" %>
</div>
