<div class="box wide">
  <div class="legend">
    Запрос инвайта
  </div>

  <p>
  Если вы не знаете (или не можете найти) <a href="/u/">существующего пользователя</a>
  у кого можно было бы попросить инвайт, вы можете создать публичный запрос. Авторизованные
  пользователи увидят ваше имя и ссылку, и кто-нибудь, возможно, вышлет вам инвайт.
  </p>

  <p>
  Важно ввести правильный e-mail, на него будет выслана ссылка для подтверждения запроса.
  Запрос станет публичным только после подтверждения.
  Ваш e-mail не будет виден другим пользователям.
  </p>

  <%= form_tag create_invitation_by_request_url do %>
    <p>
    <%= label_tag :name, "Имя:" %>
    <%= text_field_tag :name, "", :size => 30 %>
    <br />

    <%= label_tag :email, "E-mail:" %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <%= label_tag :memo, "URL:" %>
    <%= text_field_tag :memo, "", :size => 30 %>
    <br />
    <label></label>
    <span class="na">Что-нибудь характеризующее вас (личный сайт, блог, github и т.д.)</span>
    </p>

    <p>
    <%= submit_tag "Запросить инвайт" %>
    </p>
  <% end %>
</div>
