<%= error_messages_for f.object %>

<div class="box">
  <div class="boxline">
  <% if f.object.url_is_editable_by_user?(@user) %>
    <%= f.label :url, "URL:", :class => "required" %>
    <%= f.text_field :url, :autocomplete => "off" %>
    <%= button_tag "Получить заголовок", :id => "story_fetch_title",
      :type => "button" %>
  <% elsif !f.object.new_record? && !f.object.url.blank? %>
    <%= f.label :url, "URL:", :class => "required" %>
    <div class="d">
    <a href="<%= f.object.url %>"><%= f.object.url %></a>
    </div>
  <% end %>
  </div>

  <div class="boxline">
    <%= f.label :title, "Заголовок:", :class => "required" %>
    <%= f.text_field :title, :maxlength => 100, :autocomplete => "off"  %>
  </div>

  <div class="boxline" style="margin-bottom: 2px;">
  <%= f.label :tags_a, "Теги:", :class => "required",
    :style => "line-height: 2.3em;" %>
  <%= f.select "tags_a", options_for_select(
    Tag.all_with_filtered_counts_for(@user).map{|t|
    [ "#{t.tag} - #{t.description}", t.tag, { "data-html" => raw("<strong>") +
      t.tag + raw("</strong> - ") + t.description.to_s +
      (t.filtered_count == 0 ? "" :
      raw(" <em>") + "#{t.filtered_count} user" +
      (t.filtered_count == 1 ? "" : "s") + " filtering" +
      raw("</em>")) } ]}, f.object.tags_a), {}, { :multiple => true } %>
  </div>

  <div class="boxline">
    <%= f.label :description, "Текст:", :class => "required" %>
    <%= f.text_area :description, :rows => 15,
      :placeholder => "Не обязательно при наличии URL; см. гайдлайны",
      :autocomplete => "off" %>
  </div>

  <div class="boxline markdown_help_toggler">
    <a href="#" id="story_guidelines_toggler">
      Гайдлайны
    </a>
    <div id="story_guidelines" style="<%= @user &&
      @user.stories_submitted_count > 2 ? "display: none;" : "" %>">
        <div style="float: right;">
        <a href="javascript:window.location=%22<%= root_url %>stories/new?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)"
        style="border: 1px solid #ddd; padding: 0.5em; background-color:
        #f8f8f8; line-height: 1.5em; margin-left: 1em;">Добавить на
        <%= Rails.application.name %></a>
        </div>
        <ul>

        <li><p>
 	Перетащите букмарклет справа в панель закладок браузера. После этого вы сможете
	быстро добавлять на <%= Rails.application.name %> страницу, на которой находитесь.
        </p></li>

        <li><p>
	При добавлении URL текстовое поле заполнять не обязательно. Его можно использовать
	для дополнительного объяснения ссылки. Свои мысли и идеи нужно добавлять в виде комментариев к топику.
        </p></li>

        <li><p>
	Пожалуйста, содержите заголовки в чистоте и порядке, не включайте в них элементы, не имеющие отношения
	к содержанию (например, заголовки сайта или раздела).
        </p></li>

        <li><p>
	Если ссылке больше года – пожалуйста, укажите год в скобках.
        </p></li>

        <li><p>
	Если вы добавите ссылку, которая уже была кем-то добавлена за последние 30 дней, то ваша заявка превратится 
	в голос ЗА существующую ссылку, и вы будете направлены на тот топик.
        </p></li>

      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#story_fetch_title").click(function() {
      Lobsters.fetchURLTitle($(this), $("#story_url"), $("#story_title"));
      return false;
    });
  });
</script>
