<div class="box" id="story_box">
  <div class="legend">
    Редактирование топика
  </div>

  <%= form_for @story, :url => story_url(@story.short_id),
  :method => :put do |f| %>
    <%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f } %>

    <% if @story.user_id != @user.id %>
      <div class="box">
        <div class="boxline">
          <%= f.label :moderation_reason, "Причина модерации:",
            :class => "required" %>
          <%= f.text_field :moderation_reason, :autocomplete => "off" %>
        </div>
      </div>
    <% end %>

    <p></p>

    <div class="box">
      <div class="boxline markdown_help_toggler">
        <div class="markdown_help_label">
          Можно использовать Markdown
        </div>

        <%= submit_tag "Сохранить" %>
        &nbsp;или <a href="<%= story_url(@story.short_id) %>">отменить редактирование</a>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp",
          :locals => { :allow_images => true } %>
      </div>
    </div>
  <% end %>
</div>
