<div class="box wide">
  <div class="legend">
    Смена пароля
  </div>

  <%= form_tag set_new_password_url, { :autocomplete => "off" } do %>
    <%= error_messages_for(@reset_user) %>

    <%= hidden_field_tag "token", params[:token] %>

    <p>
    <%= label_tag :username, "Имя (логин):" %>
    <%= @reset_user.username %>
    <br />

    <%= label_tag :password, "Новый пароль:" %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />

    <%= label_tag :password_confirmation, "(Еще разок):" %>
    <%= password_field_tag :password_confirmation, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "Задать новый пароль" %>
    </p>
  <% end %>
</div>
