<div class="box wide">
  <div class="legend">
    Фильтр тегов
  </div>

  <p>
  Чтобы скрывать топики с определенным тегом с главной страницы отметьте эти теги ниже.
  </p>

  <% if !@user %>
    <p>
    Вы не авторизованы, поэтому ваши фильтры будут храниться в cookie браузера. 
    Чтобы сохранить фильтры навсегда – <a href="/login">войдите</a> в свой аккаунт.
    </p>
  <% end %>

  <%= form_tag "/filters", :method => :post do %>
    <table class="data zebra" cellspacing=0 width="75%">
    <tr>
      <th width="7%">Скрыт</th>
      <th width="15%">Тег</th>
      <th width="78%">Описание</th>
    </tr>
    <% Tag.order(:tag).accessible_to(@user).each do |tag| %>
      <tr>
        <td><input type="checkbox" name="tag_<%= tag.tag %>" value=1
          <%= @filtered_tags.map{|ft| ft.tag_id }.include?(tag.id) ?
          "checked" : "" %>></td>
        <td><a href="/t/<%= tag.tag %>" class="<%= tag.css_class %>"><%=
          tag.tag %></a></td>
        <td><%= tag.description %></td>
      </tr>
    <% end %>
    </table>
    <p>
    <%= submit_tag "Сохранить фильтры" %>
    </p>
  <% end %>
</div>
