<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noarchive,noodp,noydir" />
  <meta name="referrer" content="always" />
  <meta name="theme-color" content="#3B81B7" />
  <% if @short_url %>
    <link rev="canonical" rel="self alternate shorter shorturl shortlink"
      href="<%= @short_url %>" />
  <% end %>
  <title><%= @title.present? ? "#{@title} | " : "" %><%=
    Rails.application.name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if @rss_link %>
    <%= raw(@rss_link) %>
  <% end %>
  <% if @user %>
    <script>
      Lobsters.curUser = '<%= @user.id %>';
    </script>
  <% end %>
</head>
<body>
  <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a target="_blank" href="https://github.com/freetonik/develop.re">Contribute</a>
      </div>
  </div>

  <div id="wrapper">
    <div id="header">
      <div id="headerleft">
        <a id="l_holder" style="background-color: #<%= sprintf("%02x%02x%02x",
        [ 255, (@traffic * 7).floor + 50.0 ].min, 0, 0) %>;" href="/"
        title="<%= Rails.application.name %> (<%= @traffic.to_i %>)"></a>

        <% links = {
          "/" => @cur_url == "/" ? Rails.application.name : "Главная",
          "/newest" => "Новое",
          "/comments" => "Комментарии"
        } %>

        <% if @user %>
          <% links.merge!({ "/threads" => "Мои треды",
            "/favorites" => "Избранное",
            "/stories/new" => "Добавить ссылку +" }) %>
        <% end %>



        <% if @cur_url.present? && !links.keys.include?(@cur_url) &&
        @heading.present? %>
          <span id="headertitle">
            <a href="<%= @cur_url %>"><%= @heading %></a>
          </span>
        <% end %>

        <span class="headerlinks">
          <% links.each do |u,v| %>
            <a href="<%= u %>" id="<%= u %>" <%= u == @cur_url ? raw("class=\"cur_url\"") :
              "" %>><%= v %></a>
          <% end %>
        </span>
      </div>

      <div id="headerright" class="<%= @user ? "loggedin" : "" %>">
        <span class="headerlinks">

        <a href="/filters" <%= @cur_url == "/filters" ?
          raw("class=\"cur_url\"") : "" %>>Фильтры</a>

	<% unless @user %>
          <a href="/invitations/request">Запросить инвайт</a>
        <% end %>

        <% if @user %>
          <% if (count = @user.unread_message_count) > 0 %>
            <a href="/messages" class="new_messages <%= @cur_url == "/messages" ?
              "cur_url" : "" %>"><%= count %> Новое сообщение<%= count == 1 ? "" :
              "s" %></a>
          <% else %>
            <a href="/messages" <%= @cur_url == "/messages" ?
              raw("class=\"cur_url\"") : "" %>>Сообщения</a>
          <% end %>

          <a href="/settings" <%= @cur_url == "/settings" ?
            raw("class=\"cur_url\"") : "" %>><%= @user.username %>
            (<%= @user.karma %>)</a>

        <% else %>
          <a href="/login">Войти</a>
        <% end %>
        </span>
      </div>

      <div class="clear"></div>
    </div>

    <div id="inside">
      <% if flash[:error] %>
        <div class="flash-error"><%= flash[:error] %></div>
      <% elsif flash[:success] %>
        <div class="flash-success"><%= flash[:success] %></div>
      <% end %>

      <%= yield %>

      <div id="footer">
        <a href="/moderations">Лог модерации</a>
        <% if @user && (iqc = InvitationRequest.verified_count) > 0 %>
          <a href="/invitations">Запросы инвайтов (<%= iqc %>)</a>
        <% end %>
        <a href="https://twitter.com/develop_re">Твиттер-бот @develop_re</a>
	<a href="https://develop.re/rss">RSS</a>
        <a href="/about">О сайте</a>
        <% if @user %>
          <%= link_to "Выход", { :controller => "login", :action => "logout" },
          :data => { :confirm => "Уверены, что хотите покинуть нас?" },
          :method => "post" %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1360700-46', 'develop.re');
  ga('send', 'pageview');

</script>

</body>
</html>
